* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*     HEADER     */

#conteiner-header {
    background-color: #714263;
    width: 100%;
    height: auto;
}

.logo-eureka {
    width: 14rem;
    height: 6rem;
    
}
.logo-eureka:hover {
    animation-name: crecer;
    animation-duration: 1s;
}

@keyframes crecer {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.style-li {
    list-style-type: none;
}


.list-a {
    text-decoration: none;  
    font-size: 1.2rem; 
    color: white;
}

.list-a:hover {
    color: #7cdbc5;
    animation-name: lista;
    animation-duration: 1s;
}

@keyframes lista {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.1);
    }
}

.btn-busqueda {
    border-color: #7cdbc5;
    color: #7cdbc5;
}

.btn-busqueda:hover {
    color: white;
    background-color: #63c2ac;
}

/*     TITULO     */

.conteiner__title {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(./img/rosa.jpg);
    color: white;
    background-position: center center;
}

/*   CONTENT INDEX   */

.conteiner__content {
    background-color:#B0F6D4;
    width: 100%;
    height: auto;
}

.productos-box {
    color: #493356;
    background-color:#B0F6D4;
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.img-productos {
    width:23rem;
    height:15rem;
}

.btn-productos {
    background-color: #0879c6;
}

.btn-productos:hover {
    background-color: #0c578a;
    animation-name: btn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes btn {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
    }     
}

/*    PUBLICIDAD    */

.conteiner__redes {    
    background-color:#ff90af;
    width: 100%;
    height: auto;
}

.conteiner__redes--box:first-child {

    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}


.ico {
    font-size: 80px;
    padding: 25px;
    color:#033353;
} 

.ico:hover {
    animation-name: mover;
    animation-duration: 1.2s;
}

@keyframes mover {
    0% {
        transform:rotate(0deg);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    100% {
        transform:rotate(-20deg);
    }
}

/*        FOOTER       */

.conteiner__footer {    
    background-color:#493356;
    width: 100%;
    height: auto;
}

/*   PAGINA NOSOTROS    */

/*   SECTION TITLE*/

.bg-title {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(../img/margarita.jpg);
}

/*   SECTION CONTENT   */

.conteiner__content-nosotros {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right top, #45618e, #0085b4, #00aac8, #00cec4, #48eead);
}

/*     PAGINA SERVICIOS    */

.container__content--servicios {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.border-img {
    border-radius: 1rem;
}

/*     PAGINA CONTACTO    */

/*   SECTION CONTENT   */


.conteiner__contact {
    background-image: url(../img/neuquen.jpg);
    background-position: center center;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;

}

.bg-form {
    background-color: #714263;
}


/*     PAGINA PREGUNTAS FRECUENTES     */

/*    SECTION CONTENT   */

.conteiner__content--preguntas {
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(./img/marga.jpg);
    font-family:cursive, Helvetica, sans-serif;
    width: 100%;
    height: auto;

}

.preguntas__box {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    border-radius: 1rem;
}

.preguntas__text--respuesta {
    font-family: Arial, Helvetica, sans-serif;
}


