//variables ejemplos

$color-header: #714263;
$color-footer: #493356;
$color-publicidad: #ff90af;
$color-redes-ico: #033353;
$co-btn: #0879c6;
$co-btn-h:#0c578a;
$co-btn-up: #FE8A7F;
$co-btn-up-h: #FFC75F;
$color-list: #faf3f3;
$color-li-hover: #7cdbc5;

$co-text: white;   // color de titulo principal
$co-text-sub: white; // color de subtitulos
$co-text-parrafo: white; // color texto parrafo

$bg-index: #b0f6d4;
$bg-nosotros: linear-gradient( to right top,#45618e,#0085b4,#00aac8,#00cec4,#48eead);
$bg-productos: linear-gradient( to right top,#d16ba5,#c777b9,#ba83ca,#aa8fd8,#9a9ae1,#8aa7ec,#79b3f4,#69bff8,#52cffe,#41dfff,#46eefa,#5ffbf1 );
$bg-contacto: linear-gradient( to top, #845ec2, #8d6ac3, #9676c3, #9e82c4, #a68ec4 );
$bg-preguntas: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/marga.jpg);

$fs-ico-redes: 5rem;
$fs-ico-footer: 1.1rem;
$fs-ico-text: .85rem;

$ff-tittle-1: 'Roboto', sans-serif; //Titulo
$ff-tittle-2:'Noto Sans JP', sans-serif; //Titulo

$ff-subtittle-1:'Roboto', sans-serif; //Subtitulo
$ff-subtittle-2:'Arima Madurai', cursive;//Subtitulo estilo cursiva

$ff-parrafo-1:'Lato', sans-serif; //Parrafo
$ff-parrafo-2:'Arima Madurai', cursive; //Parrafo  estilo cursiva

$fw-bold: bold;

$shadow-f: 0px 4px 16px 1px rgba(0,0,0,0.6); 
$shadow-s: 0px 4px 15px 1px rgba(0,0,0,0.4);

// Variables maps

$redes: ( instagram:#833AB4, facebook:#4267B2, whatsapp:#128C7E);