//variables ejemplos

$color-header: #714263;
$color-footer: #493356;
$color-publicidad: #ff90af;
$color-redes-ico: #033353;
$color-buttons: #0879c6;
$color-list: #faf3f3;
$color-li-hover:#7cdbc5;

$bg-buttons:#0c578a; 
$bg-index: #b0f6d4;
$bg-nosotros: linear-gradient( to right top,#45618e,#0085b4,#00aac8,#00cec4,#48eead);
$bg-productos: linear-gradient( to right top,#d16ba5,#c777b9,#ba83ca,#aa8fd8,#9a9ae1,#8aa7ec,#79b3f4,#69bff8,#52cffe,#41dfff,#46eefa,#5ffbf1 );
$bg-contacto: linear-gradient( to top, #845ec2, #8d6ac3, #9676c3, #9e82c4, #a68ec4 );
$bg-preguntas: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/marga.jpg);

$fs-ico-redes: 5rem;
$fs-ico-footer: 1.1rem;
$fs-ico-text: .85rem;

$ff-principal: Verdana, Geneva, Tahoma, sans-serif;
$ff-secundario: cursive, sans-serif, arial;