#conteiner-header {
    background-color: $color-header;
    width: 100%;
    height: auto;
    box-shadow: $shadow-header;

    .logo-header {
        width: 10rem;
        height: 5rem;

        &:hover {
            animation-name: crecer;
            animation-duration: 1s;
        }

        @keyframes crecer {
            0% {
                transform: scale(1);
            }
        
            100% {
                transform: scale(1);
            }
        }
    }

    .list-ul{
        list-style-type: none;

        .list-a {
            text-decoration: none;  
            font-size: 1.4rem; 
            color: $color-list;
            font-family: $ff-parrafo-3;

            &:hover {
                color: $color-li-hover;
                animation-name: lista;
                animation-duration: 1s;
            }
            
            @keyframes lista {
                0% {
                    transform: scale(1.1);
                }
                
                100% {
                    transform: scale(1.1);
                }
            }
        }
    } 
}
