//  PUBLICIDAD 

.conteiner__redes {    
    background-color:#ff90af;
    width: 100%;
    height: auto;

    .conteiner__redes--box:first-child {

        background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    }

    
}
