/*     TITULO     */
.conteiner__title {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(../../img/rosa.jpg);
    background-position: center center;
}

/*   PAGINA NOSOTROS    */

/*   SECTION TITLE*/

.bg-title {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(../../img/margarita.jpg);
}